
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:wght@300&display=swap');
:root{
  --primary-color:aliceblue;
  --secondary-color:yellow;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}



.header{
  margin: auto;
  width: 50%;
  height: 180px;
  background: rgb(10,10,10);
  position: relative;
  top: -140px;
  align-items: center;
  border-radius: 0 0 25px 25px;
  transition: all 0.5s;
}
.header::before,
.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 25px 25px;
  background: linear-gradient(45deg,#ff0000,#00f0f0,#00ff00,#0000ff,#ff000069);
  z-index: -1;
  transform: scale(1.02);
  background-size: 500%;
  animation: anim 20s linear infinite;
}

@keyframes anim{
  0%,100%{
    background-position: 0 0;
  }
  50%{
    background-position: 300% 0;
  }
}
.header::after{
  filter:blur(10px);
}
input{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  -webkit-appearance:none;
  outline: none;
  cursor: pointer;
}
input::before{
  content: '\f103';
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Font Awesome 5 Free';
  color: #f1f1f196;
}
.a{
  margin: 2.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
  position: absolute;
  font-weight: 700;
  transition: all 0.3s ease;
}
.a:hover{
  color: var(--secondary-color);
  border-radius: 20px;
  border-top: 3px solid var(--secondary-color);
}
.a:nth-child(2){
  left: 5%;
} 
.a:nth-child(3){
  left: 20%;
} 
.a:nth-child(4){
  right: 5%;
} 
.a:nth-child(5){
  right:20%;
}




.main-container{
  position: relative;
  bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
}
/* -----------------Headings container start--------------- */
.conatiner-1{
  position: relative;
  width: 100%;
  height: auto;
}
.headings{
  width: 80%;
  padding: 5rem;
  margin:5rem auto;
}
.namaste,.secondary-namaste{
  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif;
}
.namaste{
  background: linear-gradient(orange,white,green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-namaste,
.secondary-text{
  color: var(--secondary-color);
}
.lg-heading{
  color: var(--primary-color);
  font-family: 'Audiowide', cursive;
}
.lg-heading,
.secondary-text{
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
}
.sm-heading{
  font-size: 2rem;
  color: var(--primary-color);
}

/* -----------------Headings container End------------------ */


/* -------------------Image conatiner start---------------- */
.container-2{
  top:2rem;
  position: relative;
  width: 100%;
  height: auto;
}
.profile-img{
  width: 80%;
  margin: 8rem auto;
  text-align: center;
}
#profile{
  width: 60%;
  border-radius: 50%;
  border: 8px solid var(--secondary-color);
}

/* --------------------Image conatiner End-------------------- */

/* -------------Hire button start-------------- */
.hire{
  position: relative;
  top: 30px;;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  font-weight: 700; 
  overflow: hidden;
  color:aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0,2s;
}
.hire:hover{
  color: black;
  background-color:yellow;
  box-shadow: 0 0 10px yellow,0 0 40px yellow, 0 0 80px yellow;
  
}
.hire span{
  position: absolute;
  display: block;
}
.hire span:nth-child(2){
  top:-100;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,yellow);
}
.hire:hover span:nth-child(2){
  top:100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.hire span:nth-child(4){
  bottom:-100;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,yellow);
}
.hire:hover span:nth-child(4){
  bottom:100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
/* ------------------Hire button End----------------- */

@media only screen and (max-width:1200px){
 
  .main-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .headings{
    text-align: center;
  }
  .secondary-namaste,.sm-heading{
    font-size: 1.5rem;
  }
  .namaste{
    font-size: 2rem;
  }
  .lg-heading,
.secondary-text{
  font-size: 2rem;
}
.profile-img{
  margin: 2rem auto;
}
#profile{
  width: 50%;
  border: 3px solid var(--secondary-color);
  }
  .hire{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  }
  .headings{
    margin:0rem auto;
    padding:1rem 0;
  }

  .header{
    width: 60%;
    height: 160px;
    border-radius: 0 0 40px 40px;
  }
  .a{
    font-size: 0.8rem;
    text-align: center;
  }
  .a:nth-child(2){
    top: -10%;
    left:10%;
    right: 10%;
  } 
  .a:nth-child(3){
    top: 5%;
    left:10%;
    right: 10%;
  } 
  .a:nth-child(4){
    top: 20%;
    left:10%;
    right: 10%;
  } 
  .a:nth-child(5){
    top:35%;
    left:10%;
    right: 10%;
  }
  input::before{
    font-size: 1.5rem;
  }
 
  .header::before,
.header::after{
  border-radius: 0 0 40px 40px;
}
  /* -------------------------------------------------------------------- */

}
